In [1]:
import requests
import findspark
import pandas as pd
import numpy as np
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.functions import*
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, BooleanType, DoubleType
from pyspark import SparkContext
from pyspark.sql.functions import monotonically_increasing_id

In [2]:
spark = SparkSession.builder.appName("CreditCard_App").getOrCreate()

In [3]:
df_credit = spark.read.json(r'C:\suneetha\Python_labs\Capstone_project\CreditCard_dataset\cdw_sapp_credit.json')

In [4]:
df_credit.printSchema()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- YEAR: long (nullable = true)

In [5]:
#Format Date
#Concat_ws: to insert '-' when concatenating values and then using date_format function.
df_credit = df_credit.withColumn("TIMEID", date_format(concat_ws("-", col("YEAR"), col("MONTH"), col("DAY")), "yyyyMMdd"))
df_credit.show()

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|  TIMEID|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|20180214|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|20180320|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|20180708|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|20180419|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|20181010|
|        164|4210653349028689|123459988| 28|    5|             6|       Education|             6.89|2018|20180528|
|        119|4210653349028689|123459988| 19|    5|             7|   Entertainment|            43.39|2018|20180519|
|         23|4210653349028689|123459988|  8|    8|             8|             Gas|            95.39|2018|20180808|
|        166|4210653349028689|123459988| 18|    3|             9|   Entertainment|            93.26|2018|20180318|
|         83|4210653349028689|123459988|  3|    9|            10|           Bills|           100.38|2018|20180903|
|         52|4210653349028689|123459988| 21|    8|            11|             Gas|            98.75|2018|20180821|
|         17|4210653349028689|123459988| 24|   12|            12|             Gas|            42.71|2018|20181224|
|         80|4210653349028689|123459988|  3|    4|            13|         Grocery|            40.24|2018|20180403|
|         50|4210653349028689|123459988| 15|    4|            14|           Bills|            17.81|2018|20180415|
|        123|4210653349028689|123459988| 17|    5|            15|           Bills|             29.0|2018|20180517|
|          9|4210653349028689|123459988|  6|    7|            16|            Test|            70.63|2018|20180706|
|          3|4210653349028689|123459988| 28|    9|            17|            Test|            27.04|2018|20180928|
|        135|4210653349028689|123459988|  4|    7|            18|   Entertainment|            88.75|2018|20180704|
|        103|4210653349028689|123459988| 24|    4|            19|            Test|            77.02|2018|20180424|
|         78|4210653349028689|123459988|  8|   10|            20|           Bills|            34.34|2018|20181008|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+--------+
only showing top 20 rows

In [6]:
df_credit.printSchema()

root
 |-- BRANCH_CODE: long (nullable = true)
 |-- CREDIT_CARD_NO: string (nullable = true)
 |-- CUST_SSN: long (nullable = true)
 |-- DAY: long (nullable = true)
 |-- MONTH: long (nullable = true)
 |-- TRANSACTION_ID: long (nullable = true)
 |-- TRANSACTION_TYPE: string (nullable = true)
 |-- TRANSACTION_VALUE: double (nullable = true)
 |-- YEAR: long (nullable = true)
 |-- TIMEID: string (nullable = true)

In [7]:
df_credit.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/classicmodels") \
  .option("dbtable", "capstone_project.CDW_SAPP_CREDIT_CARD") \
  .option("user", "root") \
  .option("password", "password") \
  .save()

In [8]:
spark.stop()